.building-container{
  position: absolute;
  width: 28px;
  height: 29px;
  background: grey;
  box-shadow: 1px 1px 4px #fffb0f;
}
.building-inner{
	position: relative;
	width: 26px;
	height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  &.building-1{
	  background-image: url("./../../assets/images/house.png");
  }
  &.building-2{
	  background-image: url("./../../assets/images/scycraper.png");
  }
}
.building-top{
  top: 83px;
  left: 23px;
}
.building-left{
  left: 84px;
  top: 20px;
}
.building-bottom{
  left: 20px;
  top: -30px;
}
.building-right{
  top: 20px;
  left: -30px;
}
