<div fxLayout="row" fxLayoutAlign="center center" 
  [ngClass]="UI.boardCls" 
  class="dark-theme" style="height: 100vh;">
 
  <!-- GAME INFORMATION MENU --------------------->

  <div style="position: absolute;top: 10px;left: 10px">

    <button mat-icon-button [matMenuTriggerFor]="mainMenu" #mainMenuTrigger="matMenuTrigger">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu 
      #mainMenu="matMenu"
      hasBackdrop="false" 
      class="dark-theme pad-all-sm my-scroll">
      <div (click)="$event.stopPropagation()" style="width: 200px;">

        <div 
          *ngFor="let player of filterPlayers(players); index as i" 
          [ngClass]="game.currentPlayer === i ? 'mat-grey' : ''">

          <div class="pad-all-sm">

            <h3 [style.color]="player.color">
              {{player.name}}
              <mat-icon *ngIf="myPlayerIndex === i">star</mat-icon>
              <span fxFlex></span>
              
              <div 
                *ngIf="game.currentPlayer === i" 
                class="mrgn-r-md my-badge">
                {{UI.timer}}
              </div>
            </h3>
  
            <div fxLayout="row">
              <div fxFlex="40" fxLayoutAlign="start center" style="font-size: 1.2em">
                
                {{player.money}}
                <mat-icon class="mrgn-l-xs">euro</mat-icon>

              </div>
              <div fxFlex="60" [ngClass]="myPlayerIndex === i ? '' : 'no-pointer-events'">
                <div *ngFor="let continent of UI.continents">
                  <div *ngIf="player.cards[continent.name]">
                   
                    <span 
                      *ngFor="let card of player.cards[continent.name]"
                      style="display: inline-block;width: 25px;height: 30px;text-align: center;line-height: 30px;border-radius: 3px;cursor:pointer;" 
                      class="animated zoomIn"
                      (click)="openCountryInfoDialog(card)"
                      [matTooltip]="board[card].verb"
                      [ngClass]="continent.cls">
                      {{ board[card].verb | slice:0:2}}
                    </span>

                    <!-- {{player.cards[continent.name]}} -->
                  </div>
    

                </div>
              </div>
            </div>
            
          </div>
       

          <mat-divider class="mrgn-t-md mrgn-b-md"></mat-divider>

        </div>



      </div>
   
    </mat-menu>    
  
    <!-- <div *ngIf="!mainMenuTrigger.menuOpen">

    </div> -->

    
  
  </div>

  <!-- MONOPOLY BOARD -------------------------------->

  <div class="pos-rel mrgn-all-md" [style.transform]="'scale('+UI.size+')'">

    <table class="monopoly-table">
      <tr *ngFor="let i of [0,1,2,3,4,5,6,7];">
        <td *ngFor="let j of [0,1,2,3,4,5,6,7];" 
        style="position: relative;"
        [ngClass]="(board[i+''+j] && board[i+''+j].type === 'country') ? 'monopoly-cell' : ''"
        [style.background]="(board[i+''+j] && board[i+''+j].ownedBy > -1) ? players[board[i+''+j].ownedBy].areaBg : ''">
              
          <div *ngIf="(i+''+j === UI.cellInfo.which) && UI.cellInfo.show" 
            class="animated zoomIn cell-info-popup"
            [style.background]="UI.cellInfo.bg">
            {{UI.cellInfo.text}} 
          </div>


          <!-- {{i+''+j}} -->
    
          <div *ngIf="board[i+''+j]">
            
            <div *ngIf="board[i+''+j].type==='country'"
              class="tile"
              [ngClass]="board[i+''+j].cls"
              style="border: 1px solid grey;">
              {{board[i+''+j].verb}}         
            </div> 
  
            <app-building 
              *ngIf="board[i+''+j].type==='country' && board[i+''+j].building > 0" 
              [type]="board[i+''+j].building"
              [cls]="board[i+''+j].buildCls">
            </app-building>

           

            <div *ngIf="board[i+''+j].type==='edge'">
              <img [ngClass]="board[i+''+j].cls" src="{{board[i+''+j].img}}" 
              style="position: relative;left: 15%;width: 70%;">
            </div> 
        
            <div *ngIf="board[i+''+j].type==='railroad'" [ngClass]="board[i+''+j].cls">
              <img src="{{board[i+''+j].img}}" style="position: relative;left: 15%;width: 70%;">
            </div>         

            <div *ngIf="(board[i+''+j].type==='community' || board[i+''+j].type==='chance')" [ngClass]="board[i+''+j].cls">
              <img src="{{board[i+''+j].img}}" style="position: relative;left: 15%;width: 70%;">
            </div> 

            <div *ngIf="board[i+''+j].type==='casino'" [ngClass]="board[i+''+j].cls">
              <img src="{{board[i+''+j].img}}" style="position: relative;left: 15%;width: 70%;">
            </div> 

            <!-- <div *ngIf="board[i+''+j].type==='card'" [ngClass]="board[i+''+j].cls">
              <img src="{{board[i+''+j].img}}" style="position: relative;left: 15%;width: 70%;">
            </div>  -->

          </div>

        </td>
      </tr>
    </table>

    <!-- PLAYERS + DICE ------->

    <app-player *ngFor="let player of filterPlayers(players); index as i" 
      [cls]="players[i].cls" [bg]="players[i].color"  [playerCls]="'player-'+i">
    </app-player>
    <!-- <app-player [cls]="players[1].cls" [bg]="players[1].color" [playerCls]="'player-1'"></app-player>
    <app-player [cls]="players[2].cls" [bg]="players[2].color" [playerCls]="'player-2'"></app-player>   
    <app-player [cls]="players[3].cls" [bg]="players[3].color" [playerCls]="'player-3'"></app-player>     -->

    <app-dice 
      (onDiceTotal)="movePlayer($event)"
      (onNextTurnClbk)="nextTurn()"
      [isCurrentPlayer]="myPlayerIndex === game.currentPlayer"
      [showNextPlayer]="UI.showNextPlayer"
      [canRoll]="UI.canRoll">
    </app-dice>

  </div>

</div>
   
<!-- CARD DIALOG -------------------------------->

<ng-template #cardTmpl>
  <div>

    <div class="mrgn-all-lg" style="font-size: 2rem;">
      Buy <b>{{ board[this.UI.currentBlock].verb }}</b>?
    </div>
    <div style="font-size: 1.5rem;line-height: 1.5rem;" fxLayoutAlign="center center">
      Cost: <em>{{ board[this.UI.currentBlock].cost }}</em>
      <mat-icon>euro</mat-icon>
    </div>
    <div fxLayoutAlign="center center" *ngIf="board[this.UI.currentBlock].type === 'country'">
      <table class="my-table mrgn-t-lg">
        <tr>
          <th>Type</th>
          <th>Build Cost</th>
          <th>Rent</th>
        </tr>
        <tr>
          <td fxLayoutAlign="start center">No building</td>
          <td>{{board[this.UI.currentBlock].buildCosts[0]}}</td>
          <td>{{board[this.UI.currentBlock].rents[0]}}</td>
        </tr>
        <tr>
          <td fxLayoutAlign="start center"><mat-icon>home</mat-icon>House</td>
          <td>{{board[this.UI.currentBlock].buildCosts[1]}}</td>
          <td>{{board[this.UI.currentBlock].rents[1]}}</td>
        </tr>
        <tr>
          <td fxLayoutAlign="start center"><mat-icon>location_city</mat-icon>Scyscraper</td>
          <td>{{board[this.UI.currentBlock].buildCosts[2]}}</td>
          <td>{{board[this.UI.currentBlock].rents[2]}}</td>
        </tr>        
      </table>
    </div> 

    <div fxLayoutAlign="center center" fxLayout="column" *ngIf="board[this.UI.currentBlock].type === 'railroad'">

      <div fxLayout="row" fxLayoutAlign="center center" class="mrgn-t-lg">
        <mat-icon>train</mat-icon>
        Trip Cost: {{ board[this.UI.currentBlock].tripCost }} €
      </div>
      <em class="mat-font-red mrgn-all-lg">
        *If the same player owns all stations, the trip cost for each of them will be doubled.
      </em>
    </div>

    <div fxLayoutGap="20px" class="mrgn-all-lg">
      <button mat-raised-button color="primary" (click)="buyBlock()">
        Buy
      </button>
      <button mat-raised-button color="warn" (click)="helpers.closeAllDialogs()">
        Cancel
      </button>

    </div>
    <!-- {{ board[this.UI.currentBlock] | json }} -->
  </div>
</ng-template>

<ng-template #chestAndChanceTmpl>
  <div>
    <div style="font-size: 1.3em" class="mrgn-all-lg">
    {{UI.card.text}}
    </div>
    <button mat-raised-button color="primary" (click)="this.doActionForChanceOrCommunity()">
      OK
    </button>
  </div>
</ng-template>

<ng-template #casinoTmpl>
  <div class="pad-all-md">
    <app-slot-machine (onSlotEnd)="onSlotEnd($event)"></app-slot-machine> 
  </div>
</ng-template>

<ng-template #countryInfoTmpl>
<!-- {{UI.selectedBlock}} -->

  <div fxLayoutAlign="center center">
    <table class="my-table mrgn-t-lg">
      <tr>
        <th>Type</th>
        <th>Build Cost</th>
        <th>Rent</th>
        <th></th>
      </tr>
      <tr>
        <td>No building</td>
        <td>{{UI.selectedBlock.buildCosts[0]}}</td>
        <td>{{UI.selectedBlock.rents[0]}}</td>
      </tr>
      <tr>
        <td>
          <div fxLayoutAlign="start center">
            <mat-icon>home</mat-icon>
            House
          </div>
          
        </td>
        <td>{{UI.selectedBlock.buildCosts[1]}}</td>
        <td>{{UI.selectedBlock.rents[1]}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="build()"
           [disabled]="UI.selectedBlock.building !== 0 || myPlayerIndex !== game.currentPlayer">
            Build<mat-icon>home</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div fxLayoutAlign="start center">
          
            <mat-icon>location_city</mat-icon>
            Scycraper
          </div>
        </td>
        <td>{{UI.selectedBlock.buildCosts[2]}}</td>
        <td>{{UI.selectedBlock.rents[2]}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="build()" 
            [disabled]="UI.selectedBlock.building !== 1 || myPlayerIndex !== game.currentPlayer">
            Build<mat-icon>location_city</mat-icon>
          </button>
        </td>
      </tr>        
    </table>
  </div> 


</ng-template>

<ng-template #enterGameTmpl>
  <app-enter-game (onEnterGame)="enterGame($event)"></app-enter-game>
</ng-template>


<!-- 
<mat-form-field appearance="fill">
  <mat-label>test</mat-label>
  <input matInput type="text" [(ngModel)]="players[0].cls">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Size</mat-label>
  <input matInput type="number" [(ngModel)]="UI.size" step=".1">
</mat-form-field>
 -->

