
<mat-tab-group 
  [selectedIndex]="selectedIndex"
  (selectedTabChange)="onTabChange($event)" 
  *ngIf="availableGames" 
  style="max-width: 600px">

  <mat-tab label="Available Tables">
    <div class="pad-all-md" *ngIf="availableGames.length">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Your Name</mat-label>
        <input matInput type="text" [(ngModel)]="enterGameForm.name">
      </mat-form-field>

      <table class="my-table table-left pad-all-sm mat-grey-700">
        <tr>
          <th>Table Name</th>
          <th class="mrgn-r-sm">Players</th>
          <th>Created</th>
          <th></th>
        </tr>
        <tr *ngFor="let table of availableGames">
          <td>{{table['table_name']}}</td>
          <td>{{table.players.length}}/{{table['num_players']}}</td>
          <td>{{helpers.formatDate(table.created)}}</td>
          <td>
            <button *ngIf="!table.password" 
              mat-raised-button 
              color="primary" 
              (click)="enterBoardGame(table)">
              Enter Game
              <mat-icon>casino</mat-icon>
            </button>

            <button *ngIf="table.password" 
              color="primary" 
              mat-raised-button 
              [matMenuTriggerFor]="passMenu"
              #t="matMenuTrigger"
              (menuOpened)="togglePassMenu('open')"
              (menuClosed)="togglePassMenu('close')">
              Enter Game
              <mat-icon>lock</mat-icon>
            </button>
            
            <mat-menu #passMenu="matMenu" [hasBackdrop]="false">
              
              <div (click)="$event.stopPropagation()" class="pad-all-md">
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput type="number" #password>
                </mat-form-field>
                <button 
                  mat-raised-button 
                  color="primary"
                  class="mrgn-l-sm"
                  (click)="enterBoardGame(table, password.value)">
                  Enter Game
                </button>                
              </div>

            </mat-menu>


          </td>
        </tr>
      </table>
    </div>
    <div class="pad-all-md" *ngIf="!availableGames.length">
      <div>
        There are no opened tables at the moment. You can <b>create a new private or public table</b>, 
        or wait for someone else to create one.
      </div>
      <button mat-raised-button color="primary" (click)="selectedIndex=1" class="mrgn-all-md">
        New Table
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Create Table">
    <div fxLayout="column" class="pad-all-md">
      <h3>Create Table</h3>
      <mat-form-field appearance="fill">
        <mat-label>Your Name</mat-label>
        <input matInput type="text" [(ngModel)]="newGameForm.name" maxLength="30">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Number of Players</mat-label>
        <mat-select [(ngModel)]="newGameForm.numOfPlayers">
          <mat-option *ngFor="let num of [1,2,3,4]" [value]="num">
            {{num}}
        </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Table Name</mat-label>
        <input matInput type="text" [(ngModel)]="newGameForm.tableName" maxLength="30">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Table Password</mat-label>
        <input matInput type="number" [(ngModel)]="newGameForm.pass" min="0" max="9999">
        <mat-hint>Only for private tables</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="createGame()" class="mrgn-t-md">
        Create Table
      </button>
    </div>

  </mat-tab>

  <mat-tab label="History">
    <div fxLayout="column">
      <div class="mrgn-all-sm">
        <b>
          Review previously played games
        </b> 
      </div>
      <table class="pad-all-md">
        <tr>
            <th>Name</th>
            <th>Players</th>
            <th>Created</th>
            <th></th>
        </tr>
        <tr *ngFor="let game of historyGames">
          <td>
            {{ game.table_name ? game.table_name : 'Table '+game.id }}
          </td>
          <td>{{ game.num_players }}</td>
          <td>{{ helpers.formatDate(game.created) }}</td>
          <td>
            <button mat-raised-button 
              color="primary" 
              (click)="renderFromHistory(game.id)">
              Watch
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </tr>
      </table>




    </div>
  </mat-tab>
</mat-tab-group>




